body >.container {
  margin-top:70px;
}

blockquote {
  font-size: inherit;
}

.climbs {
  .actions {
    a {
      text-decoration: none;
    }
    i {
      cursor: pointer;
    }
  }
}

h2 {
  margin-bottom:  20px;
  margin-top:     10px;
}

/* Material design edit in ng-table */
.form-control {
  height:28px;
}

.btn {
  padding: 6px 12px;
  margin:0;
}

.pagination {
  margin: 0px
}

@media screen and (min-width: 769px) {
  .angular-google-map-container {
    min-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .angular-google-map-container {
    min-height: 350px;
  }
}

.route-summary {
  margin-top:10px;
}

//  _____ _                _ _
// |_   _(_)_ __ ___   ___| (_)_ __   ___
//   | | | | '_ ` _ \ / _ \ | | '_ \ / _ \
//   | | | | | | | | |  __/ | | | | |  __/
//   |_| |_|_| |_| |_|\___|_|_|_| |_|\___|

.climb-timeline {
  .climb-add {
    margin-bottom:57px;
  }

  .climb-add button {
    position: absolute;
    left: 50%;
    margin-left: -29px;
  }

  @media only screen and (max-width: 767px) {
    .climb-add button {
      left: 43px;
      margin-left: 0;
    }
  }
}

//  ____  _ _     _
// / ___|| (_) __| | ___ _ __
// \___ \| | |/ _` |/ _ \ '__|
//  ___) | | | (_| |  __/ |
// |____/|_|_|\__,_|\___|_|

.slider-modal {
  .carousel-control{
    background-image: none;
    cursor: pointer;
  }
  .carousel-indicators li {
    border: 0;
    background-color: transparent;
  }
  .carousel-indicators .active {
    background-color: transparent;
  }
}

/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}

.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    text-align: center;
}
.card-container, .front, .back {
	width: 100%;
	height: 360px;
	border-radius: 4px;
}

.card-header {
  margin-top: 5px;
  .actions span{
    cursor: pointer;
  }
}

.back {
  overflow-y: auto;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .header{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}

//   ____ _                _
//  / ___| |__   __ _ _ __| |_ ___
// | |   | '_ \ / _` | '__| __/ __|
// | |___| | | | (_| | |  | |_\__ \
//  \____|_| |_|\__,_|_|   \__|___/

.overview {
  .panel-body {
    padding:4px;
  }

  svg {
    margin-top:10px;
  }
  .metrics {
    padding-left:15px;
    padding-right:15px;
  }
}

.charts {
  @media screen and (max-width: 768px) {
    .panel-body {
      padding:0px;
    }
  }
  #panel-chart {
    padding:0;
    min-height: 300px;
  }
}

.d3-tip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  font: 10px;
  line-height: 1;
  padding: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  display: inline;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

