body >.container {
  margin-top:70px;
}

@media screen and (min-width: 769px) {
  .angular-google-map-container {
    min-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .angular-google-map-container {
    min-height: 350px;
  }
}

#panel-chart {
	padding:0;
	min-height: 300px;
}

.tooltip {
	border-radius:   8px;
	border:          0;
	color:           white;
	font:            12px sans-serif;
	padding:         5px;
	pointer-events:  none;
	position:        absolute;
	text-align:      center;
}

.label {
	cursor:pointer;
}

h2
{
	margin-bottom:  20px;
	margin-top:     10px;
}

/* Material design edit in ng-table */
.form-control
{
	height:28px;
}

.btn {
	padding: 6px 12px;
	margin:0;
}
