
<div class="page-header">
	<h1>Data Analyzer <small> Climbing routes</small></h1>
</div>

<!-- Panel Data -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Data</h3>
	</div>
	<div class="panel-body">
		<table ng-table class="table table-condensed">
			<tr ng-repeat="route in routes">
				<td data-title="'Name'">{{route.name}}</td>
				<td data-title="'Grade'">{{route.grade}}</td>
				<td data-title="'Rating'">{{route.rating}}</td>
				<td data-title="'Setter'">{{route.setter}}</td>
				<td data-title="'Status'">{{route.status}}</td>
				<td data-title="'Rock'">{{route.rock}}</td>
				<td data-title="'Location'">{{route.location}}</td>
			</tr>
		</table>
	</div>
</div>

<!-- Panel Data -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Data</h3>
	</div>
	<div class="panel-body" id="panel-data">
		<div id="drop-zone">Drag &amp; Drop file here.</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">

		<!-- Panel Map -->
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> Map</h3>
			</div>
			<div class="panel-body" id="panel-map">
			</div>
		</div>

	</div>

	<div class="col-md-6">

		<!-- Panel Chart -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Chart</h3>
			</div>
			<div class="panel-body" id="panel-chart">
			</div>
		</div>

	</div>
</div>
