

<!-- Panel Overview -->

<div class="row">	

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-book fa-stack-1x fa-inverse"></i>
				</span>
				<h3>Climbing Memo</h3>

				<hr>
				<p class="text-muted">Remember what you have climbed and look at your progress.</p>
				<hr>

			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="fa fa-calendar"></span> Overview</h3>
			</div>
			<div class="panel-body">

				<div id="panel-calendar-heatmap" class="text-center">
				</div>

				<hr>

				<table class="table table-bordered">
					<tbody>
						<tr class="active">
							<td class="text-center" style="width:33%">
								<small class="text-muted">Number of Climbs</small><br>
								<b>{{metrics.count}} Total</b>
							</td>
							<td class="text-center" style="width:33%">
								<small class="text-muted">Favorite climbing type</small><br>
								<b>{{metrics.favoriteType}}</b>
							</td>
							<td class="text-center" style="width:33%">
								<small class="text-muted">Favorite climbing sector</small><br>
								<b>{{metrics.favoriteSector}}</b>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>

<!-- Panel Data -->
<div class="panel panel-default">
	<div class="panel-body">

		<button class="pull-right btn btn-success" ng-click="addRoute()"><i class="fa fa-plus"></i> Add</button>
		<h2><i class="fa fa-connectdevelop"></i> Routes</h3>

		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th> <th>Grade</th> <th>Rating</th> <th>Status</th> <th>Date</th> <th>Sector</th>
					<th>Type</th> <th>Rock</th><th>Location</th><th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="route in routes" ng-if="route.$visible">
					<td>
						<span ng-if="!route.$edit">{{route.name}}</span>
						<div ng-if="route.$edit"><input placeholder="Name" class="form-control" type="text" ng-model="route.name"></div>
					</td>
					<td>
						<span ng-if="!route.$edit">{{route.grade}}</span>
						<div ng-if="route.$edit"><input placeholder="Grade" class="form-control" type="text" ng-model="route.grade" ></div>
					</td>
					<td >
						<span ng-if="!route.$edit"><rating readonly="true" ng-model="route.rating"></rating></span>
						<div ng-if="route.$edit" style="min-width:80px"><rating ng-model="route.rating"></rating></div>
					</td>
					<td >
						<span ng-if="!route.$edit">{{route.status}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.status" style="width:80px">
								<option>Attempt</option>
								<option>Redpoint</option>
								<option>Flash</option>
								<option>Onsight</option>
							</select>
						</div>
					</td>
					<td >
						<span ng-if="!route.$edit">{{route.date}}</span>
						<div ng-if="route.$edit"><input type="text" class="form-control" ng-model="route.$date" datepicker-popup='EEE MMM dd y' is-open="route.$datepicker" ng-click="openDatepicker($event,route)">
						</div>
					</td>
					<td >
						<span ng-if="!route.$edit">{{route.sector}}</span>
						<div ng-if="route.$edit"><input placeholder="Sector" typeahead="sector for sector in sectors | filter:$viewValue" typeahead-on-select="sectorPopulatePlaceholder($item,route)" class="form-control" type="text" ng-model="route.sector" ></div>
					</td>
					<td >
						<span ng-if="!route.$edit">{{route.type}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.type" style="width:80px">
								<option>Sport lead</option>
								<option>Boulder</option>
								<option>Traditional</option>
								<option>Multi-pitch</option>
								<option>Top rope</option>
							</select>
						</div>
					</td>
					<td >
						<span ng-if="!route.$edit">{{route.rock}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.rock" style="width:80px">
								<option>Granite</option>
								<option>Sandstone</option>
								<option>Limestone</option>
								<option>Indoor</option>
								<option>Conglomerate</option>
								<option>Basalt</option>
								<option>Volcanic</option>
							</select>
						</div>
					</td>
					<td >
						<span ng-if="!route.$edit">{{route.location}}</span>
						<div ng-if="route.$edit"><input placeholder="Location" class="form-control" type="text" ng-model="route.location" typeahead="location for location in locations | filter:$viewValue"></div>
					</td>
					<td style="width:90px" >
						<span ng-if="!route.$edit" class="label label-info" ng-click="route.$edit = true">Edit</span>
						<span ng-if="route.$edit" class="label label-primary" ng-click="updatedRoute(route)">Done</span>
						<span ng-if="!route.$edit" class="label label-danger" ng-click="deleteRoute(route)">Delete</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-6">

		<!-- Panel Map -->
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="fa fa-globe"></span> Map</h3>
			</div>
			<div class="panel-body" id="panel-map">
			</div>
		</div>

	</div>

	<div class="col-md-6">

		<!-- Panel Chart -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="fa fa-bar-chart"></span> Chart</h3>
			</div>
			<div class="panel-body" id="panel-chart">
			</div>
		</div>

	</div>
</div>
