
<div class="page-header">
	<h1>Memo<small> <i class="glyphicon glyphicon-pencil"></i> Remember your progress</small></h1>
</div>

<!-- Panel Data -->
<div class="panel panel-default">
	<div class="panel-body">
		<button class="pull-right btn btn-success btn-xs" ng-click="addRoute()">Add</button>
		<h2><i class="glyphicon glyphicon-grain"></i> Climbing routes</h2>

		<table ng-table="tableParams" class="table table-condensed">
			<tr ng-repeat="route in routes">
				<td data-title="'Name'">
					<span ng-if="!route.$edit">{{route.name}}</span>
					<div ng-if="route.$edit"><input placeholder="Name" class="form-control" type="text" ng-model="route.name"></div>
				</td>
				<td data-title="'Grade'">
					<span ng-if="!route.$edit">{{route.grade}}</span>
					<div ng-if="route.$edit"><input placeholder="Grade" class="form-control" type="text" ng-model="route.grade" ></div>
				</td>
				<td data-title="'Rating'">
					<span ng-if="!route.$edit">{{route.rating}}</span>
					<div ng-if="route.$edit"><input placeholder="Rating" class="form-control" type="text" ng-model="route.rating" ></div>
				</td>
				<td data-title="'Setter'">
					<span ng-if="!route.$edit">{{route.setter}}</span>
					<div ng-if="route.$edit"><input placeholder="Setter" class="form-control" type="text" ng-model="route.setter" ></div>
				</td>
				<td data-title="'Status'">
					<span ng-if="!route.$edit">{{route.status}}</span>
					<div ng-if="route.$edit">
						<select class="form-control" ng-model="route.status" style="width:80px">
							<option>Project</option>
							<option>Redpoint</option>
							<option>Flash</option>
							<option>Onsight</option>
						</select>
					</div>
				</td>
				<td data-title="'Rock'">
					<span ng-if="!route.$edit">{{route.rock}}</span>
					<div ng-if="route.$edit"><input placeholder="Rock" class="form-control" type="text" ng-model="route.rock" ></div>
				</td>
				<td data-title="'Location'" >
					<span ng-if="!route.$edit">{{route.location}}</span>
					<div ng-if="route.$edit"><input placeholder="Location" class="form-control" type="text" ng-model="route.location" ></div>
				</td>
				<td data-title="'Actions'" width="90">
					<span ng-if="!route.$edit" class="label label-info" ng-click="route.$edit = true">Edit</span>
					<span ng-if="route.$edit" class="label label-primary" ng-click="updatedRoute(route)">Done</span>
					<span ng-if="!route.$edit" class="label label-danger" ng-click="deleteRoute(route)">Delete</span>
				</td>
			</tr>
		</table>
	</div>
</div>

<!-- Panel Data -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> Performances</h3>
	</div>
	<div class="panel-body" id="panel-data">
	</div>
</div>

<div class="row">
	<div class="col-md-6">

		<!-- Panel Map -->
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> Map</h3>
			</div>
			<div class="panel-body" id="panel-map">
			</div>
		</div>

	</div>

	<div class="col-md-6">

		<!-- Panel Chart -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Chart</h3>
			</div>
			<div class="panel-body" id="panel-chart">
			</div>
		</div>

	</div>
</div>
