body >.container {
  margin-top:55px;
}

@media screen and (min-width: 769px) {
  #panel-map {
    min-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  #panel-map {
    min-height: 350px;
  }
}

#panel-chart {
	padding:0;
	min-height: 300px;
}

.tooltip {
	position: absolute;
	text-align: center;
	padding: 5px;
	font: 12px sans-serif;
	border: 0;
	border-radius: 8px;
	pointer-events: none;
	color:white;
}

.label {
	cursor:pointer;
}

h2
{
	margin-top:10px;
	margin-bottom:20px;
}

/* Material design edit in ng-table */
.form-control
{
	height:28px;
}

.btn {
	padding: 6px 12px;
	margin:0;
}
