body {
	padding-top: 30px;
	padding-bottom: 30px;
}

#drop-zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 70px;
	font: 20pt bold 'Vollkorn';
	text-align: center;
	color: #bbb;
}

#panel-map {
	min-height: 300px;
}
#panel-chart {
	padding:0px;
	min-height: 300px;
}

div.tooltip {   
	position: absolute;           
	text-align: center;           
	padding: 5px;             
	font: 12px sans-serif;        
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
	color:white;
}

.label {
	cursor:pointer;
}

h2
{
	margin-top:10px;
	margin-bottom:20px;
}

select.form-control
{
	height:28px;
	
}
