<div class="card-header">
  <div class="text-center actions">
    <button tooltip="Edit"
          ng-click="editRoute(route)"
          tooltip-placement="bottom"
          class="btn btn-default"
          tooltip-animation="false">
      <i class="fa fa-pencil text-info fa-lg"></i>
    </button>
    <!-- <button tooltip="Duplicate" -->
    <!--       ng&#45;click="copyRoute(route)" -->
    <!--       class="btn btn&#45;default" -->
    <!--       tooltip&#45;placement="bottom" -->
    <!--       tooltip&#45;animation="false"> -->
    <!--   <i class="fa fa&#45;files&#45;o text&#45;success fa&#45;lg"></i> -->
    <!-- </button> -->
    <button tooltip="Delete"
          ng-click="deleteRoute(route)"
          tooltip-placement="bottom"
          class="btn btn-default"
          tooltip-animation="false">
      <i class="fa fa-trash text-danger fa-lg"></i>
    </button>
</div>

<div class="card" >
  <div class="front">
    <div class="content">
      <div class="main">
        <span class="fa-stack fa-3x" tooltip="{{getIndoorLabel(route)}} {{route.type}}" tooltip-placement="bottom">
          <i class="fa fa-circle fa-stack-2x" style="color:{{getTypeColor(route)}}"></i>
          <i class="fa {{getIconRock(route)}} fa-stack-1x fa-inverse"></i>
        </span>
        <h3 class="name">
          <i class="fa fa-eye" ng-show="route.watch"></i>
          {{ route.name }}
        </h3>
        <div class="header">
          <span>- {{ route.grade }} -</span>
          <div class="rating">
            <span ng-repeat="t in getTimes(route.rating) track by $index">
              <i class="fa fa-star"></i>
            </span>
            <span class="hidden-xs" ng-repeat="t in getTimes(5 - route.rating) track by $index">
              <i class="fa fa-star-o"></i>
            </span>
          </div>
        </div>

        <h5><i class="fa fa-map-marker fa-fw text-muted"></i> {{route.location}}</h5>
        <h5><i class="fa fa-map-o fa-fw text-muted"></i> {{route.sector}}</h5>
        <h5><i class="fa fa-calendar-o fa-fw text-muted"></i> {{route.date}}</h5>
        <h5><i class="fa {{getIconRock(route)}} fa-fw text-muted"></i> {{route.rock}} </h5>
        <h5><i class="fa {{getIconStatus(route)}} fa-fw text-muted"></i> {{route.status}} </h5>

      </div>
    </div>
  </div> <!-- end front panel -->
  <div class="back">
    <div class="content">
      <div class="main">
        <div marked="route.notes"></div>
      </div>
    </div>
  </div> <!-- end back panel -->
</div> <!-- end card -->
