<div class="row">
  <div class="col-md-6">

    <!-- Panel Scatter plot -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-star-o"></span> Sector quality</h3>
      </div>
      <div class="panel-body">
        <scatter-plot-chart routes="routes"></scatter-plot-chart>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <!-- Panel Vertical Chart -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-bar-chart"></span> Climb quantity</h3>
      </div>
      <div class="panel-body">
        <vertical-bar-chart routes="routes"></vertical-bar-chart>
      </div>
    </div>

  </div>
</div>

<div class="row">

  <div class="col-md-6">

    <!-- Panel Horizontal Chart -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-bar-chart"></span> Favorite climb type difficulty</h3>
      </div>
      <div class="panel-body">
        <horizontal-bar-chart routes="routes"></horizontal-bar-chart>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <!-- Panel Treemap Chart -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-th-large"></span> Climb diversity</h3>
      </div>
      <div class="panel-body">
        <treemap-chart routes="routes"></treemap-chart>
      </div>
    </div>

  </div>
</div>
