<div class="panel panel-info overview" ng-controller="overviewCtrl">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-calendar"></span> Overview</h3>
  </div>
  <div class="panel-body">

    <overview-chart class="text-center" routes="routes"></overview-chart>

    <hr>

    <div class="metrics">
      <table class="table table-bordered">
        <tbody>
          <tr class="active">
            <td class="text-center" style="width:33%">
              <small class="text-muted">Number of Climbs</small><br>
              <b>{{metrics.count}} Total</b>
            </td>
            <td class="text-center" style="width:33%">
              <small class="text-muted">Favorite climbing type</small><br>
              <b>{{metrics.favoriteType}}</b>
            </td>
            <td class="text-center" style="width:33%">
              <small class="text-muted">Favorite climbing sector</small><br>
              <b>{{metrics.favoriteSector}}</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
