<div class="panel panel-default">
  <div class="panel-body text-center">

    <div class="hidden-sm">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
      </span>
      <h3>Climbing Memo</h3>

      <hr>
      <p class="text-muted">Remember what you have climbed and look at your progress.</p>
      <hr>
    </div>

    <div class="visible-sm">
      <h2>
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-book fa-stack-1x fa-inverse"></i>
        </span>
        Climbing Memo
      </h2>
    </div>

  </div>
</div>
