<pre>
  <code># Level one header #</code>
  <code>### Level three header ###</code>
  <code>[This is a link](http://cmizony.com)</code>
  <code>![alt description](http://cmizony.com/img/technologies/d3js.png)</code>
  <code>&gt; This is quoted
  </code>
  <code>Inline code is `escaped` with backticks</code>
  <code>```
  Blockcode is inside three backticks
  ```</code>
  <code>* This
  * is
  * a list</code>
  <code>1. with
  1. numbers</code>
  <code>---- </code>
  <code>_italic_ or *italic*</code>
  <code>__bold__ or **bold**</code>
  <code>This is \*\*not\*\* in bold.</code>
</pre>

<p>See full <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank" class="external">Markdown syntax</a></p>
