<div class="route-modal">
  <div class="modal-body">
    <div>
      <div class="card-container manual-flip" ng-class="{hover: route.$hover}">
        <ng-include src="'views/_cardAddRoute.html'"></ng-include>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" ng-click="flipCard()"><i class="fa fa-undo fa-flip-vertical"></i> Flip</button>
        <button class="btn btn-primary" ng-click="saveRoute()"><i class="fa fa-check"></i> <span class="hidden-xs">Save</span></button>
        <button class="btn btn-primary" ng-click="cancelEdit()"><i class="fa fa-times"></i> <span class="hidden-xs">Cancel</span></button>
      </div>
    </div>
  </div>
</div>
