<table class="route-summary table table-bordered hidden-xs">
  <tbody>
    <tr class="active">
      <td class="text-center">
        <small class="text-muted">Grade</small><br>
        {{route.grade}}
      </td>
      <td class="text-center">
        <small class="text-muted">Rating</small><br>
        <rating readonly="true" ng-model="route.rating"></rating>
      </td>
      <td class="text-center">
        <small class="text-muted">Status</small><br>
        {{route.status}}
      </td>
      <td class="text-center">
        <small class="text-muted">Date</small><br>
        {{route.date}}
      </td>
      <td class="text-center">
        <small class="text-muted">Sector</small><br>
        {{route.sector}}
      </td>
      <td class="text-center">
        <small class="text-muted">Type</small><br>
        {{route.type}}
      </td>
      <td class="text-center">
        <small class="text-muted">Rock</small><br>
        {{route.rock}}
      </td>
    </tr>
  </tbody>
</table>
