<div class="gm-pro-popup windowLocationMap">
  <h4><i class="fa fa-map-marker"></i> {{parameter.name}}</h4>

  <span ng-repeat="metric in parameter.metrics">
    <i class="fa fa-map-o"></i>
    {{metric.rating}} <i class="fa fa-star"></i> {{metric.sector}}
    <span class="badge">{{metric.count}}</span><br>
  </span>
  <br>
  <a href="https://www.google.com/maps/dir/Current+Location/{{ parameter.coords.latitude }}, {{ parameter.coords.longitude }}" target="_blank">
    <i class="fa fa-car"></i> Get directions
  </a>
</div>
