<div class="row">

  <div class="col-lg-6">

    <!-- Panel Scatter plot -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-star-o"></span> Sectors quality</h3>
      </div>
      <div class="panel-body">
        <scatter-plot-chart routes="routes"></scatter-plot-chart>
      </div>
    </div>

  </div>

  <div class="col-lg-6">

    <!-- Panel Vertical Chart -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-bar-chart"></span> Climbs Quantity</h3>
      </div>
      <div class="panel-body">
        <div id="panel-vertical-chart"></div>
      </div>
    </div>

  </div>
</div>

<div class="row">

  <div class="col-lg-6">

    <!-- Panel Horizontal Chart -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-bar-chart"></span> {{metrics.favoriteType}} Difficulty</h3>
      </div>
      <div class="panel-body">
        <div id="panel-horizontal-chart"></div>
      </div>
    </div>

  </div>
</div>
