<!-- Panel Data -->
<div class="panel panel-default climbs">
	<div class="panel-body">

    <div class="form-inline pull-right" tooltip="{{ itemsPerPage }} rows visible">
      <i class="fa fa-eye hidden-xs"></i>
      <select ng-model="itemsPerPage"  class="form-control">
        <option value="5" selected>  5</option>
        <option value="8">           8</option>
        <option value="15">          15</option>
        <option value="20">          20</option>
      </select>
    </div>

    <h2>
      <i class="fa fa-connectdevelop"></i> Climbs
      <button class="btn btn-fab btn-raised btn-success" ng-click="addRoute()"><i class="fa fa-plus"></i></button>
    </h2>

		<table class="table table-condensed table-hover">
			<thead>
				<tr>
          <th class="">Name</th>
          <th class="">Grade</th>
          <th class="hidden-xs hidden-sm">Rating</th>
          <th class="">Status</th>
          <th class="hidden-xs">Date</th>
          <th class="hidden-xs">Sector</th>
          <th class="hidden-xs">Type</th>
          <th class="hidden-xs">Rock</th>
          <th class="hidden-xs">Location</th>
          <th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="route in routes" ng-if="route.$visible">
					<td>
            <span ng-if="!route.$edit">
              <i ng-class="{'fa fa-eye': route.watch}"></i>
              <a style="cursor:pointer" title="Route Details" ng-click="openRouteModal(route)">
                {{route.name}}
              </a>
						</span>
						<div ng-if="route.$edit"><input placeholder="Name" class="form-control" type="text" ng-model="route.name"></div>
					</td>
					<td>
						<span ng-if="!route.$edit">{{route.grade}}</span>
						<div ng-if="route.$edit"><input placeholder="Grade" class="form-control" type="text" ng-model="route.grade" ></div>
					</td>
					<td class="hidden-xs hidden-sm">
						<span ng-if="!route.$edit"><rating readonly="true" ng-model="route.rating"></rating></span>
						<div ng-if="route.$edit" style="min-width:80px"><rating ng-model="route.rating"></rating></div>
					</td>
					<td  class="">
						<span ng-if="!route.$edit">{{route.status}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.status" style="width:80px">
								<option>Attempt</option>
								<option>Redpoint</option>
								<option>Flash</option>
								<option>Onsight</option>
							</select>
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.date}}</span>
						<div ng-if="route.$edit"><input type="text" class="form-control" ng-model="route.$date" datepicker-popup='EEE MMM dd y' is-open="route.$datepicker" ng-click="openDatepicker($event,route)">
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.sector}}</span>
						<div ng-if="route.$edit"><input placeholder="Sector" typeahead="sector for sector in sectors | filter:$viewValue" typeahead-on-select="sectorPopulatePlaceholder($item,route)" class="form-control" type="text" ng-model="route.sector" ></div>
					</td>
					<td  class="hidden-xs">
            <span ng-if="!route.$edit">
              <span class="label label-success" style="background-color:{{getTypeColor(route)}}"> {{route.type}} </span>
            </span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.type" style="width:80px">
								<option>Sport lead</option>
								<option>Boulder</option>
								<option>Traditional</option>
								<option>Multi-pitch</option>
								<option>Top rope</option>
							</select>
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.rock}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.rock" style="width:80px">
								<option>Granite</option>
								<option>Sandstone</option>
								<option>Limestone</option>
								<option>Indoor</option>
								<option>Conglomerate</option>
								<option>Basalt</option>
								<option>Volcanic</option>
							</select>
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.location}}</span>
						<div ng-if="route.$edit"><input placeholder="Location" class="form-control" type="text" ng-model="route.location" typeahead="location for location in locations | filter:$viewValue"></div>
					</td>
					<td style="width:70px" class="actions">
            <span ng-if="!route.$edit" ng-click="route.$edit = true" tooltip="Edit" tooltip-animation="false">
              <i class="fa-lg fa fa-pencil text-info"></i>
            </span>
            <span ng-if="route.$edit" ng-click="saveRoute(route)" tooltip="Save" tooltip-animation="false">
              <i class="fa-lg fa fa-check text-primary"></i>
            </span>
            <span ng-if="!route.$edit" ng-click="copyRoute(route)" tooltip="Copy" tooltip-animation="false">
              <i class="fa-lg fa fa-files-o text-success"></i>
            </span>
            <span ng-if="route.$cancellable" ng-click="cancelRoute(route)" tooltip="Cancel" tooltip-animation="false">
              <i class="fa-lg fa fa-times text-danger"></i>
            </span>
            <span ng-if="!route.$edit" class="hidden-xs" ng-click="deleteRoute(route)" tooltip="Delete" tooltip-animation="false">
              <i class="fa-lg fa fa-trash text-danger"></i>
            </span>
						<!-- <a ng&#45;if="!route.$edit" class="label label&#45;info" ng&#45;click="route.$edit = true">Edit</a> -->
						<!-- <a ng&#45;if="route.$edit" class="label label&#45;primary" ng&#45;click="saveRoute(route)">Done</a> -->
            <!-- <a ng&#45;if="!route.$edit" class="label label&#45;success" ng&#45;click="copyRoute(route)">Copy</a> -->
            <!-- <a ng&#45;if="route.$cancellable" class="label label&#45;danger" ng&#45;click="cancelRoute(route)">Cancel</a> -->
            <!-- <a ng&#45;if="!route.$edit" class="label label&#45;danger hidden&#45;xs" ng&#45;click="deleteRoute(route)">Delete</a> -->
					</td>
				</tr>
			</tbody>
		</table>

    <routes-pagination class="pull-right" items-per-page="itemsPerPage" routes="routes"></routes-pagination>

	</div>
</div>
