<!-- Panel Data -->
<div class="panel panel-default climbs">
	<div class="panel-body">

    <div class="row">

      <div class="col-sm-6">
      <h2>
        <i class="fa fa-connectdevelop"></i> Climbs
        <button class="btn btn-success" ng-click="addRoute()"><i class="fa fa-plus"></i> Add</button>
      </h2>
      </div>

      <div class="col-sm-6">
        <routes-pagination items-per-page="itemsPerPage" routes="routes"></routes-pagination>
      </div>
    </div>

		<table class="table table-condensed table-hover">
			<thead>
				<tr>
          <th class="">Name</th>
          <th class="">Grade</th>
          <th class="hidden-xs hidden-sm">Rating</th>
          <th class="">Status</th>
          <th class="hidden-xs">Date</th>
          <th class="hidden-xs">Sector</th>
          <th class="hidden-xs">Type</th>
          <th class="hidden-xs">Rock</th>
          <th class="hidden-xs">Location</th>
          <th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="route in routes" ng-if="route.$visible">
					<td>
						<span ng-if="!route.$edit">
              <a style="cursor:pointer" title="Route Details" ng-click="openRouteModal(route)">
                <i class="hidden-xs fa fa-file-text-o"></i> {{route.name}}
              </a>
						</span>
						<div ng-if="route.$edit"><input placeholder="Name" class="form-control" type="text" ng-model="route.name"></div>
					</td>
					<td>
						<span ng-if="!route.$edit">{{route.grade}}</span>
						<div ng-if="route.$edit"><input placeholder="Grade" class="form-control" type="text" ng-model="route.grade" ></div>
					</td>
					<td class="hidden-xs hidden-sm">
						<span ng-if="!route.$edit"><rating readonly="true" ng-model="route.rating"></rating></span>
						<div ng-if="route.$edit" style="min-width:80px"><rating ng-model="route.rating"></rating></div>
					</td>
					<td  class="">
						<span ng-if="!route.$edit">{{route.status}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.status" style="width:80px">
								<option>Attempt</option>
								<option>Redpoint</option>
								<option>Flash</option>
								<option>Onsight</option>
							</select>
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.date}}</span>
						<div ng-if="route.$edit"><input type="text" class="form-control" ng-model="route.$date" datepicker-popup='EEE MMM dd y' is-open="route.$datepicker" ng-click="openDatepicker($event,route)">
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.sector}}</span>
						<div ng-if="route.$edit"><input placeholder="Sector" typeahead="sector for sector in sectors | filter:$viewValue" typeahead-on-select="sectorPopulatePlaceholder($item,route)" class="form-control" type="text" ng-model="route.sector" ></div>
					</td>
					<td  class="hidden-xs">
            <span ng-if="!route.$edit">
              <span class="label label-success" style="background-color:{{getTypeColor(route)}}"> {{route.type}} </span>
            </span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.type" style="width:80px">
								<option>Sport lead</option>
								<option>Boulder</option>
								<option>Traditional</option>
								<option>Multi-pitch</option>
								<option>Top rope</option>
							</select>
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.rock}}</span>
						<div ng-if="route.$edit">
							<select class="form-control" ng-model="route.rock" style="width:80px">
								<option>Granite</option>
								<option>Sandstone</option>
								<option>Limestone</option>
								<option>Indoor</option>
								<option>Conglomerate</option>
								<option>Basalt</option>
								<option>Volcanic</option>
							</select>
						</div>
					</td>
					<td  class="hidden-xs">
						<span ng-if="!route.$edit">{{route.location}}</span>
						<div ng-if="route.$edit"><input placeholder="Location" class="form-control" type="text" ng-model="route.location" typeahead="location for location in locations | filter:$viewValue"></div>
					</td>
					<td style="width:90px" >
						<a ng-if="!route.$edit" class="label label-info" ng-click="route.$edit = true">Edit</a>
						<a ng-if="route.$edit" class="label label-primary" ng-click="saveRoute(route)">Done</a>
            <a ng-if="!route.$edit" class="label label-success" ng-click="copyRoute(route)">Copy</a>
            <a ng-if="route.$cancellable" class="label label-danger" ng-click="cancelRoute(route)">Cancel</a>
            <a ng-if="!route.$edit" class="label label-danger hidden-xs" ng-click="deleteRoute(route)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
