<!-- Panel Map -->
<div class="panel panel-success">
  <div class="panel-heading hidden-xs">
    <h3 class="panel-title"><span class="fa fa-globe"></span> Locations</h3>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert" ng-if="offline">Offline Mode</div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-marker ng-repeat="location in locations" idKey='location.name'
      coords='location.coords' options="location.options" >

      <ui-gmap-window templateUrl="'views/_windowLocationMap.html'" templateParameter="location"> </ui-gmap-window>

      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
