<h2>Headers</h2>

<pre><code># Level one header #</code></pre>

<pre><code>### Level three header ###</code></pre>

<p>Headers continue as you&#8217;d imagine, with extra hashes.</p>

<h2>Links</h2>

<div class="row">
	<div class="col-md-6">
		<pre><code>[This is a link](http://cmizony.com)</code></pre>
	</div>
	<div class="col-md-6">
		<p><a href="http://cmizony.com">This is a link</a></p>
	</div>
</div>


<h2>Blockquote</h2>

<div class="row">
	<div class="col-md-6">
<pre><code>&gt; This is quoted
</code></pre>
	</div>
	<div class="col-md-6">
		<blockquote>
			<p>This is quoted</p>
		</blockquote>
	</div>
</div>


<h2>Code</h2>

<div class="row">
	<div class="col-md-6">
<pre><code>Inline code is `escaped` with backticks</code></pre>
	</div>
	<div class="col-md-6">
		<p>Inline code is <code>escaped</code> with backticks</p>
	</div>
</div>

<h2>BlockCode</h2>

<div class="row">
	<div class="col-md-6">
<pre><code>```
Blockcode is inside three backticks
```</code></pre>
	</div>
	<div class="col-md-6">
		<pre>Blockcode in inside three backticks</pre>
	</div>
</div>

<h2>Lists</h2>

<div class="row">
  <div class="col-md-6">
<pre><code>* This
* is
* a list</code></pre>
  </div>
  <div class="col-md-6">
	<ul>
		<li>This</li>
		<li>is</li>
		<li>a list</li>
	</ul>
  </div>
</div>

<div class="row">
	<div class="col-md-6">
<pre><code>1. with
1. numbers</code></pre>
</div>
<div class="col-md-6">
	<ol>
		<li>with</li>
		<li>numbers</li>
	</ol>
</div>
</div>






<h2>Horizontal lines</h2>

<div class="row">
  <div class="col-md-6">
    <p>Three or more dashes</p>
<pre><code>---- </code></pre>
    </div>
    <div class="col-md-6">
      <hr>
    </div>
  </div>



  <h2>Emphasis</h2>

  <div class="row">
    <div class="col-md-6">
<pre><code>_italic_ or *italic*</code></pre>
    </div>
    <div class="col-md-6">
      <p><em>italic</em> or <em>italic</em></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
<pre><code>__bold__ or **bold**</code></pre>
    </div>
    <div class="col-md-6">
      <p><strong>bold</strong> or <strong>bold</strong></p>
    </div>
  </div>





<h2>Escaping</h2>

<div class="row">
	<div class="col-md-6">
<pre><code>This is \*\*not\*\* in bold.</code></pre>
		</div>
		<div class="col-md-6">
			<p>This is &#42;&#42;not&#42;&#42; in bold.</p>
		</div>
	</div>


	<h2>More markdown</h2>

	<p>See full <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank" class="external">Markdown syntax</a></p>
