<div class="modal-header">

  <button class="btn pull-right btn-material-grey" ng-click="toggleWatchRoute(route)">
    <span ng-show="route.watch"><i class="fa fa-eye-slash"></i> Un-watch</span>
    <span ng-show="!route.watch"><i class="fa fa-eye"></i> Watch</span>
  </button>

  <h3 class="modal-title">
    <i class="fa fa-eye" ng-show="route.watch"></i>
    {{ route.name }}
  </h3>
</div>

<div class="modal-body">

  <route-summary route="route"></route-summary>

  <div class="panel panel-default" ng-if="!route.$editNotes">
    <div class="panel-body">
      <div marked="route.notes" style="min-height:100px"></div>
    </div>
  </div>

  <div ng-if="route.$editNotes">

    <tabset type="pills">
    <tab>
    <tab-heading>
    <span style="cursor:pointer"><i class="fa fa-pencil"></i> Markdown</span>
    </tab-heading>

    <div class="panel panel-default">
      <div class="panel-body">
        <textarea rows="20" class="form-control" ng-model="route.notes"></textarea>
      </div>
    </div>
    </tab>

    <tab>
    <tab-heading>
    <span style="cursor:pointer"><i class="fa fa-search"></i> Preview</span>
    </tab-heading>

    <div class="panel panel-default">
      <div class="panel-body">
        <div marked="route.notes"></div>
      </div>
    </div>
    </tab>

    <tab>
    <tab-heading>
    <span style="cursor:pointer"><i class="fa fa-question-circle"></i> Help</span>
    </tab-heading>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="hidden-xs hidden-sm" ng-include
          src="'views/markdownReference.html'"></div>
        <div class="visible-xs visible-sm" ng-include
          src="'views/_markdownReferenceSummary.html'"></div>
      </div>
    </div>
    </tab>

    </tabset>

  </div>

</div>

<div class="modal-footer">
  <button ng-if="route.$editNotes" class="btn btn-success" ng-click="saveRoute(route)"><i class="fa fa-check"></i> Save</button>
  <button ng-if="!route.$editNotes" class="btn btn-success" ng-click="route.$editNotes = true"><i class="fa fa-pencil"></i> Notes</button>

  <button class="btn btn-primary" ng-click="closeModal()"><i class="fa fa-times"></i> Close</button>
</div>
