<div class="slider-modal">
  <div class="modal-header"></div>

  <div class="modal-body">
    <div style="height: 305px">
      <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{slide.text}}</p>
      </div>
      </slide>
      </carousel>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeModal()"><i class="fa fa-times"></i> Close</button>
  </div>
</div>
