<div class="slider-modal">
  <div class="modal-body">
    <div>
      <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides" active="slide.active">

      <div class="card-container manual-flip"
           ng-class="{hover: slide.$hover}"
           ng-init="route = slide.content">
        <ng-include src="'views/_cardRoute.html'"></ng-include>
      </div>

      </slide>
      </carousel>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="flipCard()"><i class="fa fa-undo fa-flip-vertical"></i> Flip</button>
    <button class="btn btn-primary" ng-click="closeModal()"><i class="fa fa-times"></i> Close</button>
  </div>
</div>
