<!-- Panel Data -->
<div class="panel panel-success table-climbs">
  <div class="panel-heading hidden-xs">
    <h3 class="panel-title"><span class="fa fa-table"></span> Table</h3>
  </div>

	<div class="panel-body">

    <p class="hidden-xs">
      <button tooltip="Add route" class="btn btn-fab btn-raised btn-success" ng-click="addRoute()"><i class="fa fa-plus"></i></button>
    </p>

    <div ng-swipe-left="nextPage()" ng-swipe-right="previousPage()">
      <table data-datatable="ng" data-dt-options="dtOptions" dt-instance="dtInstance" class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="">Name</th>
            <th class="">Grade</th>
            <th class="hidden-xs hidden-sm">Rating</th>
            <th class="hidden-xs">Status</th>
            <th class="hidden-xs">Date</th>
            <th class="">Sector</th>
            <th class="hidden-xs">Type</th>
            <th class="hidden-xs hidden-sm">Rock</th>
            <th class="hidden-xs">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="route in routes" >
            <td>
              <i ng-class="{'fa fa-eye': route.watch}"></i>
              <a style="cursor:pointer" title="Route Details" ng-click="openRouteModal(route)">
                {{route.name}}
              </a>
            </td>
            <td class="">
              <span>{{route.grade}}</span>
            </td>
            <td class="hidden-xs hidden-sm">
              <rating readonly="true" ng-model="route.rating"></rating>
            </td>
            <td class="hidden-xs">
              <span>{{route.status}}</span>
            </td>
            <td  class="hidden-xs">
              <span>{{route.date}}</span>
            </td>
            <td  class="">
              <span>{{route.sector}}</span>
            </td>
            <td  class="hidden-xs">
              <span class="label label-success" style="background-color:{{getTypeColor(route)}}"> {{route.type}} </span>
            </td>
            <td  class="hidden-xs hidden-sm">
              <span>{{route.rock}}</span>
            </td>
            <td  class="hidden-xs">
              <span>{{route.location}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

	</div>
</div>
