<div class="panel panel-success timeline">
  <div class="panel-heading hidden-xs">
    <h3 class="panel-title"><span class="fa fa-clock-o"></span> Timeline</h3>
  </div>

  <div class="panel-body">
    <p class="text-center">
      <button tooltip="Add new route"
              class="btn btn-fab btn-raised btn-success"
              ng-click="addRoute()">
        <i class="fa fa-plus"></i>
      </button>
    </p>

    <timeline>
      <timeline-event ng-repeat="event in events">
      <timeline-badge style="background-color:{{getTypeColor(event)}}"
      tooltip="{{getBadgeTooltip(event)}}">
          <i class="fa {{getBadgeIcon(event)}}"></i>
        </timeline-badge>

        <timeline-panel>
          <timeline-heading>
          <h4><i class="fa fa-map-marker"></i> {{event.content.areaLocation}}</h4>
          <p>
          <small class="text-muted">
            <i class="fa fa-calendar"></i> From {{event.content.start }} to {{event.content.end}}
          </small>
          </p>
          </timeline-heading>

          <div ng-repeat="routes in event.content.sectors">
            <p>
            <i class="fa fa-map-o"></i> {{ routes[0].sector }}
            <span class="badge">{{ routes.length }}</span>
            </p>
            <span ng-repeat="route in routes">
              <span class="text-muted">{{route.grade}}</span>
              <i ng-class="{'fa fa-eye': route.watch}"></i>
              <a style="cursor:pointer" title="Route Details" ng-click="openRouteModal(route, routes)">
                {{route.name}}
              </a><br>
            </span>
          </div>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </div>
</div>
